/crash-reports/
/ESM/
/journeymap/
/local/
/logs/
/modernfix/
/mods/
/patchouli_books/
/resourcepacks/
/saves/

.curseclient
minecraftinstance.json
options.txt
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json